<?xml version="1.0" encoding="utf-8"?>	

<launch>
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="open_rviz" value="false"/>
  </include>

  <node pkg="circle_patroller" type="circle_patroller"
    name="circle_patroller" args="" output="screen" >
    <param name="static_frame" value="map"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="log"
    args="-d $(find circle_patroller)/rviz/slam_and_circle_patroller.rviz"
  />
</launch>
