<?xml version="1.0" encoding="utf-8"?>	

<launch>
  <include file="$(find asl_pepper_2d_simulator)/launch/pepper_2d_simulator.launch">
  </include>

  <node pkg="circle_patroller" type="circle_patroller"
    name="circle_patroller" args="" output="screen" >
    <param name="static_frame" value="sim_map"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="log"
    args="-d $(find circle_patroller)/rviz/sim_and_circle_patroller.rviz"
  />
</launch>
